<%- include('../header2') -%>
<style>
    td, th {
        text-align: center;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>تاریخچه ایران ترانسفو</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <!--<a href="/admin/gallery/add" class="btn btn-primary">افزودن تصویر</a>-->
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table  class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>متن</th>
                                <th>عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(data){ %>
							<%let nu = 1%>
                            <% for (let i in data){ %>
                            <tr id="tr_<%= data[i]._id %>">
                                <td><%=nu%></td>
								<%nu++%>
                                <td><%= data[i].description %></td>
                                <td>
                                    <a href="/admin/about/<%= data[i]._id %>">
                                        <i class="fa fa-pencil"></i>
                                    </a>

                                </td>
                            </tr>
                            <% } %>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<script src="admin/axios.min.js"></script>
<%- include('../footer2') -%>
<script>
    $(function () {
        $("#example1").DataTable({
            "language": {
                "paginate": {
                    "next": "بعدی",
                    "previous": "قبلی"
                },
                search: "جستجو : ",
            },
            "info": false,
        });

    });
</script>