<%- include('header_main.ejs'); -%>

    <main class="main-root">
        <div id="dsn-scrollba1r">

            <div class="wrapper">
                <div class="box-seat box-seat-full box-seat-qute ">
                    <div class="container-fluid no-padding">
                        <div class="inner-img" data-dsn-grid="move-up" data-overlay="7" data-dsn-triggerhook="0"
                            data-dsn-duration="100%">
                            <% if(bnr){ %>
                                <img class="has-bigger-scale" src="<%=uRoute%>/<%= bnr.img %>" alt="">
                            <% }else { %>
                                <img class="has-bigger-scale" src="./assets/img/btrans/51.jpg" alt="">
                            <% } %>
                        </div>
                        <div class="pro-text dsn-animate dsn-z-index-2">
                            <div class="title-cover theme-color" data-dsn-grid="move-section" data-dsn-opacity="0.02"
                                data-dsn-duration="170%" data-dsn-move="0%">

                            </div>
                            <h3 class="dsn-up text-right">گروه صنعتی  <br> ایران ترانسفو</h3>
                            <p class="dsn-up text-justify" dir="rtl">گروه صنعتی ایران ترانسفو با بیش از 50 سال سابقه در تولید و ساخت و نصب و راه اندازی ترانسفورماتور، یکی از معتبرترین و قدیمی ترین شرکت های صنعت برق کشور عزیزمان به حساب می آید.</p>
                        </div>
                    </div>
                </div>

                <section class="service service-3 section-margin" dir="rtl">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="section-title-2">
                                    <h2 style="background-color: transparent;">ایران ترانسفو </h2>
                                    <p>ساختار سازمانی</p>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                          
                            <div class="col-lg-9">

                               <img src="<%=uRoute%>/<%=im.img%>">

                            </div>




                        </div>
                    </div>
                </section>



            </div>
            <%- include('foot1.ejs'); -%>
