<%- include('../header3')-%>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>افزودن تقاضای استخدامی</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <%if(d){%>
                    <div class="alert alert-success">
                        با موفقیت افزوده شد
                    </div>
                    <%}%>
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
<!--                            <h3 class="card-title">مثال ساده</h3>-->
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                      
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="news_title">عنوان </label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="عنوان تقاضا را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <label for="img">تصویر بنر </label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="img" name="img">
                                            <label class="custom-file-label" for="img">انتخاب تصویر</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="img1">تصویر در لیست </label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="img1" name="img1">
                                            <label class="custom-file-label" for="img">انتخاب تصویر</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description">متن </label>
                                    <div name="description" id="description"></div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button id="submit" class="btn btn-primary">ارسال</button>
                            </div>
                    </div>
                    <!-- /.card -->

                    <!-- Form Element sizes -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
  
    var fullEditor = new Quill('#description', {
          bounds: '#description',
          modules: {
            'syntax': true,
            'toolbar': [
              [ 'bold', 'italic', 'underline', 'strike' ],
              [{ 'color': [] }, { 'background': [] }],
              [{ 'script': 'super' }, { 'script': 'sub' }],
              [{ 'header': '1' }, { 'header': '2' }, 'blockquote', 'code-block' ],
              [{ 'list': 'ordered' }, { 'list': 'bullet'}, { 'indent': '-1' }, { 'indent': '+1' }],
              [ {'direction': 'rtl'}, { 'align': [] }],
              [ 'link', 'image', 'formula' ],
              //[ 'link', 'image', 'video', 'formula' ],
              [ 'clean' ]
            ],
          },
          theme: 'snow'
        });
 
 $("#submit").click(()=>{
    let formData = new FormData();
        
         //title
         if (!$("#title").val()) {
             warn.iconClass = "toast-warning";
             return toastr.error('عنوان تقاضا نمیتواند خالی بماند ', 'خطا', warn)
         }
         formData.append("title", $("#title").val());
         //description
         let description=fullEditor.root.innerHTML;
         if(description=='<p><br></p>'||!description){
             warn.iconClass = "toast-warning";
             return toastr.error('توضیحات خبر نمیتواند خالی بماند', 'خطا', warn)
         }
         formData.append("description", description);
         //img
         let img = document.querySelector('#img');
        if(!img.files[0]){
            warn.iconClass = "toast-warning";
            return toastr.error('تصویر بنر نمیتواند خالی بماند', 'خطا', warn)
        }
        formData.append("img", img.files[0]);
         //img1
         let img1 = document.querySelector('#img1');
        if(!img1.files[0]){
            warn.iconClass = "toast-warning";
            return toastr.error('تصویر در لیست نمیتواند خالی بماند', 'خطا', warn)
        }
        formData.append("img1", img1.files[0]);
 
      axios.post('<%=uRoute%>/admin/job/add', formData, {
        headers: {
        'Content-Type': 'multipart/form-data'
     }
        }) 
         .then(r=>{
             if(r.data.status==200){
             
                 warn.iconClass = "toast-success";
                  toastr.error('عملیات با موفقیت انجام شد', '', warn)
                  setTimeout(()=>{
                     window.location.href='<%=uRoute%>/admin/job'
                  },2000)
                  
             }else if(r.data.status==403){
                 window.location.href='<%=uRoute%>/admin/login'
             }else{
                 warn.iconClass = "toast-warning";
                 return toastr.error(r.data.data, 'خطا', warn)  
             }
         })
         .catch(()=>{
             warn.iconClass = "toast-error";
                 return toastr.error('خطا در برقراری ارتباط با سرور', 'خطا', warn)
         })
 });
 
 </script>
<%- include('../footer3')-%>
