<%- include('../header3')-%>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ویرایش مزایده</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <%if(s){%>
                    <div class="alert alert-success">
                        با موفقیت ویرایش شد
                    </div>
                    <%}%>
                    <div class="card card-primary">
                        <div class="card-header">
                            <!--                            <h3 class="card-title">مثال ساده</h3>-->
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="post" enctype="multipart/form-data" action="/admin/news/edit_<%=d._id%>">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="news_title">عنوان خبر</label>
                                    <input type="text" value="<%=d.title%>" class="form-control" id="news_title" name="title" placeholder="عنوان خبر را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <label for="img">تصویر مزایده</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="img" name="img">
                                            <label class="custom-file-label" for="img">انتخاب فایل</label>
                                        </div>
                                    </div>

                                    <img src="<%=uRoute%>/<%=d.img%>" width="80" height="80" alt="">
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label for="img">فایل پی دی اف</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="file" name="file">
                                            <label class="custom-file-label" for="img">انتخاب فایل</label>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="form-group">
                                    <label for="description">توضیحات</label>
                                    <textarea name="description" id="description" class="form-control" cols="30" rows="10"><%=d.description%></textarea>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                    <!-- Form Element sizes -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<%- include('../footer3')-%>
